@media screen and (max-width: 1600px) {
	.works__info {
		right: 0;
	}
	.works__item:nth-child(even) .works__info {
		left: -200px;
	}
}
@media screen and (max-width: 1200px) {

	.services__item {
		margin: 50px 0;
	}
	.more__btn {
		margin-left: 30px;
	}

	.keynote__team {
		justify-content: space-around;
	}

	.keynote__member {
		margin: 50px 0;
	}

	.blog__items {
		justify-content: space-around;
	}

	.blog__item .more__btn {
		margin-left: 0;
	}

	.map__form form .more__btn {
		margin-left: 0;
	}

	.location__items {
		justify-content: space-around;
	}

	.works__item {
		display: flex;
		justify-content: center;
	}
	.works__item img {
		width: 100%;
		height: unset;
	}
	.works__info {
    right: calc(50% - 350px);
    width: 700px;
    /* right: 0; */
}
	.works__item:nth-child(even) .works__info {
		left: unset;
    right: calc(50% - 350px);

	}
	.works .more__btn {
		margin: 0;
	}
}

@media screen and (max-width: 768px) {
	.screen__text {
		padding: 0 50px;
	}

	.clients__items {
		justify-content: space-around;
	}

	.clients__items img {
		width: 26%;
		margin: 15px 0;
	}
	.blog__item {
		width: 100%;
	}

	.post__video {
		height: 400px;
	}
	.works__info h2 {
		font-size: 30px;
	}
	.works__info {
    right: calc(50% - 250px);
    width: 500px;
    /* right: 0; */
}
	.works__item:nth-child(even) .works__info {

    right: calc(50% - 250px);

	}
}

@media screen and (max-width: 640px) {
	.screen__text {
		font-size: 36px;
	}
	.services__item {
		max-width: unset;
		text-align: center;
	}
	.contact__place {
		width: 100%;
	}

	.contact__places {
		flex-wrap: wrap;
    	text-align: center;
	}

	.contact__place {
		margin-bottom: 50px;
	}
	.map {
		margin-top: 50px;
	}
	.post__video {
		height: 300px;
	}
	.works__info_btn {
		    right: 20px;
    bottom: 37px;
	}
	.works__info h2 {
    font-size: 21px;
}
.works__info {
    width: 100%;
    right: 0;
    height: 220px;
    padding-right: 20px;
}
.works__item:nth-child(even) .works__info {
    width: 100%;
    right: 0;
    height: 220px;
    padding-right: 20px;
}
.works__info_vertical {
	    padding-right: 30px;
    left: -27px;
        bottom: 62px;
}
}

@media screen and (max-width: 480px) {
	.screen__btns_wrapper a {
		margin: 10px 20px;
	}

	.screen__btns_wrapper {
		flex-direction: column;
	}

	.header__menu_btn p {
		display: none;
	}
	.services__item p {
		font-size: 48px;
	}

	.services__item span {
		font-size: 20px;
	}
	.page__title p {
		font-size: 26px;
	}

	.keynote__title p {
		font-size: 20px;
	}

	.keynote__member {
		width: 100%;
		align-items: center;
	}
	.keynote__member_img {
		width: 100%;
	}
	.keynote__member_img > img {
		width: 100%;
	}

	.awards__title p {
		font-size: 20px;
	}
	.clients__items img {
		width: 41%;
		margin: 15px 0;
	}

	.keynote__member_hover h3 {
		font-size: 20px;
	}

	.keynote__member_hover p {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.keynote__member_hover span {
		text-align: center;
	}
	.burger__menu .menu > div > div > ul > li > a {
		font-size: 36px;
	}

	div.header__social {
		width: 100% !important;
		align-items: center !important;
		right: 0;
	}

	.services {
		padding-top: 150px;
	}
	.page__title {
		margin-bottom: 75px;
	}

	.screen__text {
		font-size: 26px;
	}

	div.header__social {
		bottom: 0;
	}
	.post__video {
		height: 200px;
	}
	.post__pagination_prev svg {
		margin-right: 20px;
	}
	.post__pagination_next svg {
		margin-left: 20px;
	}
	.location__item {
		min-width: unset;
		width: 100%;
	}
	.works__item {
		flex-direction: column;
	}
	.works__info {
		position: static;
	}
	.works__info_vertical {
		left: -50px;
	}
	.works__info {
		padding-left: 60px;
	}

	.works {
		padding-top: 150px;
	}

	.works__item {
		margin-bottom: 75px;
	}

	.blog {
		padding-top: 150px;
	}
	.contact {
		padding-top: 150px;
	}
	.location {
		padding-top: 150px;
	}
}
